@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap ");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: url("img/calc\ pic.avif");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

select{
    font-family: "Popins" , sans-serif;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.403);
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
}

select:hover{
    background-color: rgba(0, 0, 0, 0.403);
}

option{
    background-color: black;
}

button {
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    width: 50px;
    background-color: rgba(169, 227, 145);
    color: black;
    font-weight: 700;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: auto;
    margin-top: 155px;
    border: 1px solid rgba(255, 255, 255, 0.220);
}

.container h1{
    margin-top: 20px;
    border-bottom: 1px solid gray;
}

.container label{
    margin-right: 10px;
    border: none;
}
.tax-year {
    margin-top: 20PX;
}

.container input{
    font-family: "Popins" , sans-serif;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 15px ;
    background-color: rgba(0, 0, 0, 0.403);
    color: white;
    cursor: pointer;
    width: 150px;
    text-indent: 15px;
    margin-left: 12px;
    border: 1px solid black;
}
.container input:focus{
    outline: none;
}
.container i{
    position: absolute;
    margin-top: 28px;
    margin-left: 25px;
}

.results{
    margin-top: 50px;
}
.results p{
   color: gray;
   pointer-events: none;
}
.results input{
    border: none;
    font-size: 30px;
    pointer-events: none;
    color: white;
    background-color: rgba(0, 0, 0);
}
.results input::placeholder{
    color: rgba(255, 255, 255, 0.422); 
}
.results input:focus{
    outline: none;
}