@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap ");

/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    background: url(img/p22.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

/* Container Styling */
.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9f1;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
    color: rgba(23, 158, 95, 0.582);
}
/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #17458bc7;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#calculate-button {
    background-color:rgba(20, 151, 90, 0.582);
    color: #fff;
}

.reset {
    background-color: #6c757d;
    color: #fff;
}

/* Footer Styling */
footer {
    background-color:rgba(32, 114, 110, 0.712);
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e9ecef;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

footer p {
    margin: 0;
    color: #495057;
    font-size: 14px;
}